{% extends 'base.html' %}
{% block title %}{{ question }}{% endblock %}
{% block content %}
    <hr>
    <div class="content">
        {% if success_answer %}
            <p>Правильных ответов: {{ success_answer }}</p>
            <p>Неправильных ответов: {{ wrong_answer }}</p>
            <p>Процент правильных ответов: {{ percent }} %</p>
        {% else %}
                <p><b>{{ question.title }}</b></p>
                <p><b>{{ question.description }}</b></p>
                <form method="post">
                    {% csrf_token %}
                    {% for answer in question.answer.all %}
                        <p>
                            <input type="checkbox" name="answer" value="{{ answer.id }}"> {{ answer.answer }}
                        </p>
                    {% endfor %}
                    <input type="submit">
                </form>
        {% endif %}
    </div>
{% endblock %}